#move-to-top {
  height: 30px;
  width: 30px;
  background-color: #f76b1a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 399;
  border-radius: 50%;
}
