#quantity-counter{
    padding:20px 0px;
    display: flex;
    align-items: center;
}

#quantity-counter button{
    width:30px;
    height:30px;
}

#quantity-counter p{
    margin:0px 10px;
}

/* #cart-quantity{
    display: flex;

    align-items: center;
} */
