.admin-product-upload-btn-wrapper div {
  background-color: #f76b1a;
  color: #fff;
  border: none;
  padding: 5px 7px;
  width: 200px;
  /* width: 100%; */
}

.hero-category {
  width: 200px;
  border: 1px solid #d4d4d4;
  margin-top: 10px;
}

.hero-category:focus {
  border: 1px solid #d4d4d4;
}
