#download-guide-link {
  background-color: #f76b1a;
  border: none;
  color: #fff;
}

#download-guide-link:hover {
  color: #fff;
}

#download-guide-link:focus {
  box-shadow: none;
  outline: none;
}

#seller-orientation-guide-wrapper{
  height:calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
