.admin-new-product {
  border-left: 3px solid #f76b1a;
}

.admin-new-product div {
  display: flex;
}

.admin-new-product div p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review-new-product {
  color: #f76b1a;
  padding: 3px;
}

.review-new-product:hover {
  color: #f76b1a;
  text-decoration: none;
  background-color: rgba(255, 192, 203, 0.5);
  border-radius: 5px;
}
