.accordion {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.accordion:hover {
  color: #000 !important;
}

.my-panel {
  padding: 5px 0px 5px 15px;
  background-color: white;
  display: none;
  overflow: hidden;
}
