#address-accordion {
  border: none;
}

.address-change-header {
  background-color: #fff;
  border: none !important;
}

.change-address-link {
  /* border: 1px solid #fff !important; */
  color: #f76b1a;
  background-color: #fff;
}

.change-address-link {
  border: 1px solid #fff !important;
}

#checkout-edit-address-link:hover {
  background-color: rgba(255, 192, 203, 0.5);
  border-radius: 5px;
}
