.pick-up-points {
  list-style: none;
  padding: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.pick-up-points::-webkit-scrollbar {
  width: 8px;
}

.pick-up-point {
  padding: 10px 5px;
}

.pick-up-point:hover {
  background-color: #eaecee;
  color: #f76b1a;
}

#pick-up-loader {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .pick-up-points {
    max-height: 200px;
  }
}
