.category-head {
  background-color: #f2f4f4;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  justify-content: space-around;
}

#all-categories {
  color: #000;
}

#all-categories:hover {
  color: #f76b1a;
  text-decoration: none;
}

.categories {
  padding: 20px 0px 20px 0px;
  background-color: #fff;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 550;
  margin: 0;
}

.categories li a:first-child {
  color: #000;
}

.categories li {
  height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: medium;
  font-weight: 400;
  justify-content: space-between;
}

.right-arrow {
  font-size: 28px;
  display: none;
}

.categories li:hover {
  color: #f76b1a;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  text-decoration: none;
}

.categories li:hover .right-arrow {
  display: block;
}

.categories li a {
  display: flex;
  align-items: center;
}

.categories li a:hover {
  color: #f76b1a !important;
  text-decoration: none;
}

.right-arrow {
  font-size: 25px;
}

/* @media screen and (min-height: 950px) {
  .categories {
    height: calc(50vh - 20px);
  }
} */

@media screen and (max-width: 960px) {
  #categories {
    display: none;
  }
}
